nav ul li{
  display: inline-block;
  padding: 20px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(66, 65, 65);
    font-size: 15px;
}

nav ul li a :hover{
  background-color:red;
}

header{
  position: relative;
}

hr{
  color: aliceblue;
}




.img-profile{
  width: 400px;
  height: 550px;
}

.h1{
  font-size: 25px;
  margin-top: 250px;
  color: #fd5d5d;
}


/* src/VerticalMenu.css */
.vertical-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  float: right;
  margin-top: 100px;
  margin-right: 20px;
  width: 160px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 1.1em;
  color: #333;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-bottom: 20px;
  border-radius: 12px;
}

svg{
  color: white;
}

.item-icon{
  border-radius: 50%; 
  background-color:gray; 
  height:40px; 
  width:40px;
  align-items: center;
}

.item-icon:hover{
  background-color: #fd5d5d;
}

.menu-item:hover {
  background-color: #fd5d5d;
}

.menu-icon {
  font-size: 1.2em;
  margin-left: 10px;
  color: #888;
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




