*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-about{
  margin:10px 20% 20px 22%;
  font-size:20px
}

.about-pro{
  padding: 0px 0 0 55px;
}

.box {
  background-color: white; /* Initial background color */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.box:hover {
  background-color: #ff6347; /* Background color on hover */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 1000; /* Ensures header stays above other elements */
  border-bottom: 1px solid #ccc;
}

nav ul{
  margin-left: 280px;
}

nav ul li{
  display: inline-block;
  padding: 0 20px;
}

header a {
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition */
}

/* Change link color on hover */
header a:hover {
  color: #ff6347; /* Tomato color on hover */
}

img{
  width:100px;
  height: 120px;
}

hr{
  color: black;
  position: fixed;
}

footer{
  background-color: black;
  margin-top: 500px;
  height: 300px;
}

footer div{
  display:inline-block;
  margin-top: 70px;
}

footer-links-container{
  margin-left: 100px;
}

footer-links-container div{
  padding: 0 0 0 80px;
}

footer-links-container li{
  padding: 0 0 5px 0;
}

footer-links-container a{
  text-decoration: none;
  color: white;
}

portfolio-container{
  margin-left: 50px;
}


.img-profile{
  width: 400px;
  height: 550px;
}

.h1{
  font-size: 25px;
  margin-top: 250px;
  color: #fd5d5d;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




