/* Basic styling for the header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
}

p{
  padding: 0 0 0 3%;
  text-align: justify;
}

.profile{
  height: 200px;
}

.slide{
  padding: 5% 0 10% 0;
}

.apropos{
  padding: 10% 0 0 0;
}

.partenaires{
  width: 100%;
  height: 200px;
  background-color: antiquewhite;
  padding: 0% 0 0 0;
}

.partenaires img{
  padding: 5% 0 0 10%;
  height: 100px;
  width: 100px;
}

.title{
  font-weight: bold;
  font-size:20px;
  margin-bottom:0%;
  padding: 0 0 5% 0%;
  text-align: center;
}

.apropos-p{
  padding: 0 10% 2% 10%;
}

.video{
  padding: 0 20% 0 20%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Desktop navigation styles */
.nav-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

/* Hide menu toggle on larger screens */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  /* Hide navigation list and show toggle button */
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    width: 100%;
    padding: 1rem;
  }

  /* Show navigation list when active */
  .nav.active .nav-list {
    display: flex;
  }

  /* Show the toggle button */
  .menu-toggle {
    display: block;
  }
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  margin: 10% 0 0 0;
}

.inline{
  display: inline-block;
}

.links{
  padding: 10% 10% 5% 0;
}

.links-a{
  padding: 10% 0 0 10%;
  color: white;
  text-decoration: none;
  
}
